{% extends "BDECoreBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>
        PAGE D'ACCUEIL DU SITE
    </h1>
    <h2>
        URL : /
    </h2>
{% endblock %}