{% extends "BDEShopBundle::layoutShop.html.twig" %}

{% block title %}
Acheter un  - {{ parent() }}
{% endblock %}

{% block bodyshop %}
<div style="margin-left: 10%;">
    <a class="btnAddEvent" href="{{ path('bde_shop_index') }}"><</a>
</div>
<div class="product group">
    <div class="col-1-2 product-image">
        <div class="bg"></div>
        <div class="indicator">
            <div class="dot one"></div>
            <div class="dot two"></div>
            <div class="dot three"></div>
            <div class="dot four"></div>
            <div class="dot five"></div>
        </div>
    </div>
    <div class="col-1-2 product-info">
        <h1>Pull du BDE</h1>
        <h2>25 €</h2>
        <div class="select-dropdown">
            <select>
                <option value="size">Taille</option>
                <option value="size">S</option>
                <option value="size">M</option>
                <option value="size">L</option>
                <option value="size">XL</option>
                <option value="size">XXL</option>
            </select>
        </div>
        <div class="select-dropdown">
            <select>
                <option value="quantity">Quantité</option>
                <option value="quantity">1</option>
                <option value="quantity">2</option>
                <option value="quantity">3</option>
                <option value="quantity">4</option>
            </select>
        </div>
        <br>
        <a href="" class="add-btn">Ajouter au panier</a>
        <p>Le pull officiel du CESI revient en 2018 ! Attention, la quantité est limitée alors dépêchez vous de commander le vôtre !
            Disponible en rouge Bordeaux et en gris clair, il est également possible de choisir son pseudo.</p>
            <ul>
                <li>Pull 100% coton</li>
                <li>Disponible en rouge Bordeaux / gris clair</li>
                <li>Pseudo personnalisable</li>
            </ul>
        </div>
    </div>
{% endblock %}
