{% extends "BDEShopBundle::layoutShop.html.twig" %}

{% block title %}
    CART{{ parent() }}
{% endblock %}

{% block bodyshop %}
    <h1>
        PAGE CART DU SITE
    </h1>
    <h2>
        URL : /SHOP/CART
    </h2>
    {% for article in articles %}
        {{ article.name }}
    {% endfor %}

{% endblock %}