{% extends "BDECoreBundle::layout.html.twig" %}

{% block title %}
    Login - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>
        PAGE LOGIN DU SITE
    </h1>
    <h2>
        URL : /LOGIN
    </h2>
{% endblock %}