{% extends "BDECoreBundle::layout.html.twig" %}

{% block title %}
    Register - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>
        PAGE REGISTER DU SITE
    </h1>
    <h2>
        URL : /REGISTER
    </h2>
{% endblock %}