{% extends "BDECoreBundle::layout.html.twig" %}

{% block title %}
    admin - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>
        PAGE ADMIN
    </h1>
    <h2>
        URL : /ADMIN
    </h2>
{% endblock %}
