{% extends "BDECoreBundle::layout.html.twig" %}

{% block title %}
    admin - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/adminStyle.css') }}">
{% endblock %}
    {% block body %}
        <h1>
            <center>
                Panel d'administration
            </center>
        </h1><br><br><br>

        {% if roleconnect == 2 %}
            {% block bodyadmin %}

            {% endblock %}
        {% else %}
            <h2>&nbsp;&nbsp;&nbsp;Accès refusé, vous ne possédez pas les droits!</h2>
        {% endif %}
    {% endblock %}