{% extends "BDECoreBundle::layout.html.twig" %}

{% block title %}
BDE Cesi
{% endblock %}

{% block body %}
<center>
    <h1>
        Les événements
    </h1>
</center>



{% block bodyevent %}


{% endblock %}
{% endblock %}
