{% extends "BDECoreBundle::layout.html.twig" %}

{% block title %}
    title
{% endblock %}

{% block body %}
    <h1>
        LAYOUT EVENT
    </h1>

    {% block bodyevent %}

    {% endblock %}

{% endblock %}