{% extends "BDECoreBundle::layout.html.twig" %}

{% block title %}
    title
{% endblock %}

{% block body %}
    <h1>
        LAYOUT SHOP
    </h1>

    {% block bodyshop %}

    {% endblock %}
{% endblock %}