{% extends "BDEEventBundle::layoutEvent.html.twig" %}

{% block title %}
    titre {{ parent() }}
{% endblock %}

{% block bodyevent %}
    <h3>Formulaire</h3>
    {% include "BDEEventBundle:Event:eventForm.html.twig" %}


{% endblock %}