{% extends "BDEEventBundle::layoutEvent.html.twig" %}

{% block title %}
    titre {{ parent() }}
{% endblock %}

{% block bodyevent %}

        <div class="col-12 col-lg-9">

            <h3 class="barreev" style="text-align: center;">Créer un événement</h3><br>
            {% include "BDEEventBundle:Event:eventForm.html.twig" %}
        </div>




{% endblock %}