{% extends "BDEEventBundle::layoutEvent.html.twig" %}

{% block title %}
    titre {{ parent() }}
{% endblock %}

{% block bodyevent %}

        <div class="col-12 col-lg-9">
            <h3 style="text-align: center;">Formulaire</h3><br><br>
            {% include "BDEEventBundle:Event:eventForm.html.twig" %}



{% endblock %}