{% extends "BDEEventBundle::layoutEvent.html.twig" %}

{% block title %}
    Événements - {{ parent() }}
{% endblock %}

{% block bodyevent %}

    <div class="divEvent" onclick="location.href = '{{ path('bde_event_index') }}';">
        <div class="photoEvent">
            <div class="pictureReceiver">
            </div>
        </div>
        <div class="likeComment">
            <a class="fa fa-thumbs-o-up" href="#"> 0</a>&nbsp;&nbsp;
            <a class="fa fa-thumbs-o-down" href="#"> 0</a>&nbsp;&nbsp;
            <a class="fa fa-comment-o" href="#"> 0</a>
        </div>
        <a href="http://www.google.fr">
        <div class="linkEvent">
            <a class="btnEvent" href="http://localhost/BDECESI_GIT/BDECESI/Symfony/web/app_dev.php/event/1" role="button"><b>></b></a>
            <descMobile> Voici le premier événement organisé par le BDE ! </descMobile>
        </div>
    </div>

{% endblock %}
