{% extends "BDEEventBundle::layoutEvent.html.twig" %}

{% block title %}
    titre {{ parent() }}
{% endblock %}

{% block bodyevent %}
    <h1>
        PAGE indexEVENT DU SITE
    </h1>
    <h2>
        URL : /events
    </h2>

{% endblock %}